* {
    margin: 0%;
    padding: 0%;
    box-sizing: b;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    min-height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    gap: 40px;
}

.container .card {
    position: relative;
    height: 220px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2a2a2a;
}