* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #f6fbff;
    flex-direction: column;
}

.container .image-container {
    width: 100%;
    object-fit: cover;
    height: 50px;
}

.container .upper-image img {
    transform: rotate(-180deg);
    margin-top: -75px;
}

h1 {
    font-size: 30px;
    position: relative;
    margin-bottom: 80px;
}

h1:after {
    content: "";
    width: 100px;
    height: 3px;
    position: absolute;
    background: linear-gradient(to right, #f44336, #9f4db5);
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
}

.container .review-box {
    position: relative;
    width: 90%;
    max-width: 700px;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: -10px 10px 40px rgba(0, 0, 0, 0.25);
}

.card {
    height: 300px;
    padding: 40px;
    color: #555;
    background-color: #fff;
    line-height: 22px;
    position: relative;
    z-index: 1;
}

.card::before {
    content: "";
    width: 110px;
    height: 110px;
    border-bottom-right-radius: 100%;
    /* background-color: #f44336; */
    background-color: #9f4db5;
    position: absolute;
    z-index: -1;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}

.card::after {
    content: "";
    width: 40px;
    height: 40px;
    border-bottom-right-radius: 100%;
    background-color: #f44336;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg);
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.profile img {
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile h3 {
    font-size: 26px;
    color: #ff0000;
    margin-bottom: 10px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#slide {
    width: 100%;
    padding-right: 60px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.side-bar {
    content: "";
    height: 100%;
    width: 60px;
    padding: 15px 0;
    /* background-color: #952bdb; */
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.side-bar img {
    width: 45px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
}